<template name="postcardSubmit">
 <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="imgUrl">Image URL</label>
      <div class="controls">
        <input name="imgUrl" id="imgUrl" type="text" value="" placeholder="Image URL
" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" id="title" type="text" value="" placeholder="Title" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="price">Price</label>
      <div class="controls">
        <input name="price" id="price" type="text" value="" placeholder="Price" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="condition">Condition</label>
      <div class="controls">
        <input name="condition" id="condition" type="text" value="" placeholder="Condition" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <input name="description" id="description" type="text" value="" placeholder="Description" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form> 
  
</template>