<template name="postcardItem">

  <div class="container">
    <div class="col-md-4 col-sm-6 col-sm-6 col-xs-12">
      <div class="card description">
        <img class="img-thumbnail img-responsive" src="{{imgUrl}}" alt="" />
        <h4 class="card-title">{{title}}</h4>
        <div class="card-content price-ring btn-raised">R{{price}}</div>
        <!-- /.card-action -->
        {{#if ownPost}}
        <p>
          <a href="{{pathFor 'postcardEdit'}}" class="btn btn-primary btn-xs">Edit</a>
        </p>
        {{/if}}
        <p>
          Submitted by :
          <a href="" class="btn-small">{{author}}</a>
          <span>Comments: {{commentsCount}}</span>
        </p>
      </div>

      <!-- /.description --> </div>

    
  </div>

  <a href="{{pathFor 'postcardItem'}}" class="discuss btn btn-default">
    Ask
    <span class="muted">Public</span>
  </a>
  <!-- comments -->
  {{> postcardPage}}
  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}

</template>