<template name="commentItem">

      
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                <figcaption class="text-center">{{author}}</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"> <i class="fa fa-user"></i>
                      {{author}}
                    </div>
                    <time class="comment-date" datetime="{{submittedText}}"> <i class="fa fa-clock-o"></i>
                      {{submittedText}}
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{bodyText}}
                    </p>
                  </div>
                  <p class="text-right">
                    <a href="#" class="btn btn-default btn-sm">
                      <i class="fa fa-reply"></i>
                      reply
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </article>
          
        </section>
        


</template>